* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #000000;
  margin: 0;
}

#app {
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
  position: relative;
  max-height: 600px;
}

.button,
button {
  text-align: center;
  font-family: 'Ma Shan Zheng', cursive;
  font-weight: 400;
  font-style: normal;
  color: #d9ebfd;
  background-color: #3f79b2;
  font-size: 30px;
  display: inline-block;
  padding: 4px;
  border: 3px solid #1d3954;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 4px 0px 0px #1d3954;
}

.input,
input {
  font-family: 'Concert One', 'Ma Shan Zheng', sans-serif;
  font-weight: 400;
  color: #1d3954;
  font-size: 30px;
  text-align: center;
  border: 3px solid #1d3954;
  outline: none;
  border-radius: 10px;
  background-color: #ebfbff;
  user-select: text;
}

.input::placeholder,
input::placeholder {
  color: #5f7285;
}

.mb-10 {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

hr {
  width: calc(100% - 10px);
  border: none;
  border-bottom: 3px dashed #1d3954;
  margin: 15px auto;
}
